{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <div class="pt-5">
        <h2 class="text-center mb-3" >Add a Document Here</h2>

            {% if dict.error_exixts %}
                <div class="p-3 mb-2 bg-danger text-white">
                    {{ dict.error_exixts }}
                </div>
                <br><br>
            {% elif dict.error_image %}
                <div class="p-3 mb-2 bg-danger text-white">
                    {{ dict.error_image }}
                </div>
            {% elif dict.error_file %}
                <div class="p-3 mb-2 bg-danger text-white">
                    {{ dict.error_file }}
                </div>
            {% elif word %}
                <div class="p-3 mb-2 bg-success text-white">
                    {{ word }}
                </div>
            {% endif %}
        <form method="POST" enctype="multipart/form-data" action="{% url 'add-document' %}">
            {% csrf_token %}
            <div class="form-group">
                <input name="title" type="text" class="form-control" placeholder="Document Title" required>
            </div>
            <div class="form-group">
                <input name="author" type="text" class="form-control" placeholder="Author" required>
            </div>
            {% comment %}div class="form-group">
                <label for="fac">Select one or more Faculties</label>
                <select id="fac" class="form-control" name="faculty" aria-describedby="fac-help" required multiple>
                    {% for item in dict.faculties %}
                        <option value={{ item.name }}>{{ item.name }}</option>
                    {% endfor %}
                </select>
                <small id="fac-help" class="form-text text-muted">
                    Use Ctrl + Click to select Multiple Items
                </small>
            </div>{% endcomment %}
            <div class="form-group">
                <label for="cat">Select Category</label>
                <select id="cat" class="form-control" name="category" required>
                        <option style="display: none" disabled selected value> -- select an option --</option>
                    {% for item in dict.classification %}
                        <option value={{ item.name }}>{{ item.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <textarea class="form-control" rows="3" placeholder="Book Description" name="description" required></textarea>
            </div>

            <div class="custom-file mb-3">
                <h6>Upload Cover Image</h6>
                <input type="file" name="image" accept=".png, .jpg" aria-describedby="default-image">
                <small id="default-image" class="form-text text-muted">
                    Leave this empty if you can't get the cover
                </small>
            </div>
            <div class="custom-file mt-3 mb-3">
                <h6>Upload Book</h6>
                <input type="file" name="pdf" accept=".pdf, .epub" required>
            </div>
            <div class="mt-3">
                <input type="submit" class="btn mybutton mb-2" value="Submit Book">
            </div>
        </form>
    </div>
{% endblock %}
