{% extends 'base.html' %}
{% block content %}
    {% load staticfiles %}
    <div class="row mt-5">
        <div class="col-md-2">
            {% if book.image %}
                <img src="{{ book.image.url }}" alt="cover-image" width=100% >
            {% else %}
                <img src="{% static 'no-cover.jpg' %}" width=100% alt="cover-image">
            {% endif %}
        </div>
        <div class="col-md-6">
            <h3>{{ book.title }}</h3>
            <br>
            {{ book.description }}
        </div>
        <div class="col-md-3">
            Uploaded by : <strong>{{ book.uploader }}</strong>
            <br><br>
            Uploaded on : <strong>{{ book.date }}</strong>
            <br><br>
            Size : <strong>{{ book.megabytes }}</strong>
            <br><br>
            <div class="text-center">
                <a href="javascript:{document.getElementById('add').submit()}" class="btn mybutton btn-lg"
                   role="button" aria-pressed="true">Download
                </a>
            </div>
        </div>
    </div>
    <form id="add" action="{% url 'download' book.slug %}" target="_blank" method="POST">
        {% csrf_token %}
        <input type="hidden">
    </form>
{% endblock %}
