{% extends 'base.html' %}
{% block content %}
    <div class="row mt-5">
        <div class="col-2"><img src="{{ book.image.url }}" width=100% ></div>
        <div class="col-7">
            <h3>{{ book.title }}</h3>
            <br>
            {{ book.description }}
        </div>
        <div class="col-3">
            Uploaded by : {{ book.uploader }}
            <br><br>
            Uploaded on : {{ book.date }}
            <a href="javascript:{document.getElementById('add').submit()}">
                <button class="btn btn-primary btn-block pt-3">
                    <span class="oi oi-caret-top"></span> Download </button></a>
        </div>
    </div>
    <form id="add" action="{% url 'download' book.id %}" target="_blank" method="POST">
        {% csrf_token %}
        <input type="hidden">
    </form>
{% endblock %}
