@font-face {
    font-family: 'Raleway', sans-serif!important;
    font-display: swap;
}
body{
    font-family: 'Raleway', sans-serif!important;
}
.mybutton {
    color: #001d3a;
    background-color: transparent;
    background-image: none;
    border-color: #001d3a!important;
}
.mybutton:hover {
    color: #fff;
    background-color: #001d3a;
    border-color: #001d3a!important;
}
.search-button {
    color: #B27000;
    background-color: transparent;
    background-image: none;
    border-color: #B27000!important;
}
.search-button:hover {
    color: #fff;
    background-color: #B27000;
    border-color: #B27000!important;
}
.page-item.myactive .link{
    z-index: 1;
    color: #fff;
    background-color: #001d3a!important;
    border-color: #001d3a!important;
}
.link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #001d3a;
    background-color: #fff;
    border: 1px solid #dee2e6;
}