@font-face {
    font-family: 'Raleway', sans-serif!important;
    font-display: swap;
}
body{
    font-family: 'Raleway', sans-serif!important;
}
.mybutton {
    color: #001d3a;
    background-color: transparent;
    background-image: none;
    border-color: #001d3a!important;
}
.mybutton:hover {
    color: #fff;
    background-color: #001d3a;
    border-color: #001d3a!important;
}
.page-item.myactive .link{
    z-index: 1;
    color: #fff;
    background-color: #001d3a!important;
    border-color: #001d3a!important;
}
.link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #001d3a;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

.searchbar{
    margin-bottom: auto;
    margin-top: auto;
    height: 50px;
    background-color: #e1e7f5;
    border-radius: 30px;
    padding: 5px;
}

.search_input{
    color: #001d3a;
    border: 0;
    outline: 0;
    background: none;
    width: 60%;
    caret-color:#001d3a;
    line-height: 40px;
}

.searchbar > .search_input{
    padding: 0 10px;
    width: 80%;
    caret-color:red;
    transition: width 0.4s linear;
}

.search_icon{
    cursor: grabbing;
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #ffffff00;
    border: #f0ffff00;
}